IF-driver-partition/
**/vgcore*
src/program-dependence-graph-main/build/*
examples/chage/input/aa.txt
**/temp/
*idl*
examples/wget-1.20/
examples/thttpd-2.25/
examples/nginx-1.9.5/
examples/nginx/input/source_code/nginx-1.15.5/
examples/nginx/input/source_code/nginx-1.15.5_back/
examples/nginx/output/finally_partition/nginx-1.15.5_client/
examples/nginx/output/finally_partition/nginx-1.15.5_server/
examples/thttpd/input/source_code/thttpd-2.27/
examples/thttpd/input/source_code/thttpd-2.27_back/
examples/thttpd/output/finally_partition/thttpd_client/
examples/thttpd/output/finally_partition/thttpd_server/
examples/mavlink-client/input/source_code/mavlink-client/
examples/mavlink-client/input/source_code/mavlink-client_back/
examples/mavlink-client/output/finally_partition/mavlink-client_client/
examples/mavlink-client/output/finally_partition/mavlink-client_server/
examples/mavlink-server/input/source_code/mavlink-server/
examples/mavlink-server/input/source_code/mavlink-server_back/
examples/mavlink-server/output/finally_partition/mavlink-server_server/
examples/mavlink-server/output/finally_partition/mavlink-server_client/
examples/wget/input/source_code/wget-1.18/
examples/wget/input/source_code/wget-1.18_back/
examples/wget/output/finally_partition/wget-1.18_client/
examples/wget/output/finally_partition/wget-1.18_server/
examples/telnet/input/source_code/inetutils-1.9.4/
examples/telnet/input/source_code/inetutils-1.9.4_back/
examples/telnet/output/finally_partition/telnet_client/
examples/telnet/output/finally_partition/telnet_server/
examples/chage/input/source_code/shadow-utils/
examples/chage/input/source_code/shadow-utils_back/
examples/chage/output/finally_partition/chage_client/
examples/chage/output/finally_partition/chage_server/
examples/chsh/input/source_code/shadow-utils/
examples/chsh/input/source_code/shadow-utils_back/
examples/chsh/output/finally_partition/chsh_client/
examples/chsh/output/finally_partition/chsh_server/
examples/passwd/input/source_code/shadow-utils/
examples/passwd/input/source_code/shadow-utils_back/
examples/passwd/output/finally_partition/passwd_client/
examples/passwd/output/finally_partition/passwd_server/
examples/useradd/input/source_code/shadow-utils
examples/useradd/input/source_code/shadow-utils_back
examples/useradd/output/finally_partition/useradd_client/
examples/useradd/output/finally_partition/useradd_server/
examples/nginx/output/muti-partition/nginx-mid/
examples/nginx/output/muti-partition/nginx-public/
examples/nginx/output/muti-partition/nginx-core/
examples/nginx/output/muti-partition/IDL/
scripts/__pycache__/
scripts/get_all_senseAddr_use_progate_for_refactor_output.py
scripts/refactor_flowcheck_output.py
scripts/get_all_senseAddr_use_progate_copy1.py
scripts/aa1.txt
aa.txt
aa1.txt
temp.g
pin.log
.vscode/
