Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
Makefile.vex.in
compile
Makefile
.deps/
config.h
config.log
config.status
glibc-2.X.supp
stamp-h1
valgrind.pc
valgrind.spec
*.o
*.a
*.so
.in_place/
default.supp
*-x86-linux
*-amd64-linux
.dirstamp
